.bg-light {
  background-color: #ffffff !important; /* Переопределяем цвет */
}

.navbar-brand img {
  max-width: 150px;
  height: 50px;
  border-radius: 50%;
  object-fit: contain; /* Сохраняет пропорции внутри заданных размеров */
}

.divider {
  width: 1px; /* Толщина черты */
  background-color: black; /* Цвет черты */
  
}